/*Elevation*/
#resort_elevation,
#resort_lifts,
#resort_terrain,
#resort_impdates,
#resort_contact {
    margin-top: 8px;
}
div.clear {
    font-size: 1px;
    line-height: 1px;
    clear: both;
    overflow: hidden
}

.module,.topic {
    margin-bottom: 32px;
    position: relative
}
.col_4 {
    float: left;
    width: 300px;
    margin-right: 16px;
    margin-bottom: 32px
}
.module_header h3,.section_header {
    font-family: "arial black",helvetica,sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000
}

.resort_box {
    background-color: #F9F9F9;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 8px 0;
}

/* Elevation */
#resort_elevation ul {
    background: url("/img/resort_sprite.png") no-repeat scroll 0 16px transparent;
    height: 115px;
    margin-left: 25px;
    overflow: hidden;
    position: relative;
    width: 245px;
}
#resort_elevation li {
    position: absolute;
    text-align: right;
}
#resort_elevation .top {
    color: #1AB7EA;
    right: 0;
    top: 4px;
}
#resort_elevation .drop {
    color: #0079C2;
    right: 0;
    top: 82px;
}
#resort_elevation .bottom {
    color: #004580;
    right: 0;
    top: 44px;
}
#resort_elevation .label {
    font-size: 10px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
#resort_elevation .value {
    font-size: 16px;
    font-weight: bold;
    height: 18px;
}


/*resort_lifts*/

/* Lifts */
#resort_lifts ul:first-child {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
#resort_lifts ul {
    padding-left: 24px;
}
#resort_lifts li {
    background: url("/img/resort_sprite.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #1AB7EA;
    float: left;
    height: 16px;
    margin: 0 22px 0 0;
    overflow: hidden;
    padding: 31px 0 0;
    text-align: center;
    width: 31px;
}
#resort_lifts .total {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 17px;
    font-weight: bold;
    height: 37px;
    line-height: 16px;
    padding-top: 7px;
    width: 40px;
}
#resort_lifts .total span{
    border-top: 1px solid #000000;
    font-size: 10px;
    font-weight: normal;
    padding-top: 2px;
    text-transform: uppercase;
}

#resort_lifts .trams        {background-position: -133px -202px;}
#resort_lifts .fast_eight   {background-position: -165px -202px;}
#resort_lifts .fast_sixes   {background-position: -197px -202px;}
#resort_lifts .fast_quads   {background-position: -229px -202px;}
#resort_lifts .quad         {background-position: -133px -252px;}
#resort_lifts .triple       {background-position: -165px -252px;}
#resort_lifts .double       {background-position: -197px -252px;}
#resort_lifts .surface      {background-position: -229px -252px;}


/*#resort_terrain,*/
.col_8 {
    width: 616px;
    margin-right: 16px
}


/* Terrain */
#resort_terrain {}
#resort_terrain ul {
    border-bottom: 1px solid #CCCCCC;
    padding-left: 16px;
    padding-top: 8px;
}
#resort_terrain ul:first-child {
    padding-top: 0;
}
#resort_terrain ul:last-child {
    border: medium none;
}
#resort_terrain li {
    float: left;
    position: relative;
    width: 150px;
}
#resort_terrain li.rt_trail {}
#resort_terrain li p.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
}
#resort_terrain li p.value {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}
#resort_terrain li p.value span {
    font-size: 15px;
    font-weight: normal;
}
#resort_terrain ul.rt_trail.diamonds p.value {
    background: url("/img/sp_icn_resort_lifts_terrain.gif") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}
#resort_terrain ul.rt_trail p.value.beginner {
    color: #1C9400;
}
#resort_terrain ul.rt_trail p.value.intermediate {
    color: #0079C2;
}
#resort_terrain ul.rt_trail p.value.advanced {
    color: #FF0909;
}
#resort_terrain ul.rt_trail p.value.expert {
    color: #000000;
}
#resort_terrain ul.rt_trail.diamonds p.value.beginner {
    background-position: 0 -315px;
}
#resort_terrain ul.rt_trail.diamonds p.value.intermediate {
    background-position: 0 -343px;
}
#resort_terrain ul.rt_trail.diamonds p.value.advanced {
    background-position: 0 -372px;
    color: #000000;
}
#resort_terrain ul.rt_trail.diamonds p.value.expert {
    background-position: 0 -399px;
    padding-left: 29px;
}

/*#resort_contact*/


#resort_contact ul {
    padding-left: 16px;
}
#resort_contact li {
    float: left;
    width: 295px;
}
.col_8 #resort_contact li {
    width: 590px;
}
#resort_contact li a {
    font-weight: bold;
}