body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}
.table thead th,
.page-header h1 {
    text-transform: capitalize;
}
.table tbody tr.visited {
    background-color: silver;
}
.table {
    table-layout: fixed;
}
.table, .table th, .table td {
    overflow: hidden;
    border-collapse: collapse;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div[role="navigation"] .sidebar-nav {
    top: 50px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    word-wrap: break-word;
    width: 16em;
    left: -16em;
    background-color: #eee;
    padding: 0;
    overflow: scroll;
    min-height:20em;
    height: 100vh;
}

a.navbar-brand:focus ~ .sidebar-nav,
div[role="navigation"]:hover .sidebar-nav,
nav.sidebar-nav.active,
nav.sidebar-nav:focus,
div[role="navigation"].active .sidebar-nav {
    left: 0;
}


.sidebar-nav .selected {
    padding: 0.8em 1em;
    background-color: white;
}

